
.commentaires{
    border:1px black solid;
    margin:4px;
    padding:4px;
    width:80%;
    margin:0 auto;
    font-family:Arial Narrow;
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
    margin-top:15px;
    background-color:white;
    border-radius: 10px;
}

.commentaire_info_utilisateur{
    display:flex;
    flex-direction: column;
    width:25%;
    background-color:gainsboro;
    border-radius:10px;
    align-items: center;
}

.commentaire_pfp{
    width:80%;
    margin-top:10px;
    border-radius:5px;
}

.commentaire_contenu{
    width:75%;
    margin-left:5px;
    border-left:1px grey solid;
}

#barreNavigation{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:80%;
    border:1px black dotted;
    height:40px;
    margin:0 auto;
}

#barreNavigation p{
    margin-right:1.6vw;
    font-size:20px;
    padding:2px;
    border:1px black solid;
}

#barreNavigation p:hover{
    margin-right:1.6vw;
    font-size:20px;
    padding:2px;
    border:1px black solid;
    background-color:rgb(210,210,210);
}

#zoneCommentaireForm{
    margin:0 auto;
    background-color:rgb(30, 55, 153);
    padding:4px;
    width:80%
;    display:flex;
    flex-direction:column;
    font-size:10px;
    font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color:white;
    border-radius:10px;
    margin-top:10px;
}

#CommentaireFormulaire{
    padding:4px;
    display:flex;
    flex-direction: column;
}

#commentaireContenu{
    resize:none;
    width:90%;
    height:90px;
    font-size:20px;
    margin:0 auto;
}

#commentaireBoutonEnvoi{
    width:50%;
    font-size:20px;
    margin:0 auto;
    margin-top:5px;
    background-color:rgb(236, 240, 241);
}

#commentaireBoutonEnvoi:hover{
    width:50%;
    font-size:20px;
    margin:0 auto;
    margin-top:5px;
    background-color:rgb(189, 195, 199);
}

@media screen and (max-width:800px){

    .liste_articles{
        width:90%;
        margin:0 auto;
        background-color:rgba(0,0,0,0.2);
    }

    #zoneCommentaireForm{
    margin:0 auto;
    border:1px black solid;
    background-color:rgb(30, 55, 153);
    padding:4px;
    width:90%;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    }

    .commentaires{
        border:1px black solid;
        margin:4px;
        padding:4px;
        width:95%;
        margin:0 auto;
        font-family:Arial Narrow;
        display:flex;
        flex-direction:column;
        margin-bottom:10px;
        margin-top:15px;
        background-color:white;
        border-radius: 10px;
    }

    .commentaire_info_utilisateur{
        display:flex;
        flex-direction: row;
        width:100%;
        background-color:gainsboro;
        border-radius:10px;
        align-items: center;
        overflow:hidden;
    }

.commentaire_pfp{
    width:20%;
    margin:4px;
    border-radius:5px;
}

}
