body{
	background-color:white;
}

a:link{
    color:black;
    text-decoration:none;
}

a:visited{
    color:black;
    text-decoration:none;
}

#barreNavigation{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:80%;
    border:1px black dotted;
    height:40px;
    margin:0 auto;
}

#barreNavigation p{
    margin-right:1.6vw;
    font-size:20px;
    padding:2px;
    border:1px black solid;
}

#barreNavigation p:hover{
    margin-right:1.6vw;
    font-size:20px;
    padding:2px;
    border:1px black solid;
    background-color:rgb(210,210,210);
}

#formulaire_connexion{
    background-color:gainsboro;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    width:30%;
    padding:5px;
    border-radius:5px;
    border:1px grey solid;
}

#formulaire_connexion > input{
    margin-bottom:5px;
    font-size:16px;
    font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#formulaire_connexion > p{
    font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#bouton_connexion{
    margin-top : 15px;
    color:white;
    background-color:rgb(30, 55, 153);
}

#bouton_connexion:hover{
    margin-top : 15px;
    color:white;
    background-color:rgb(12, 36, 97);
}