body{
	background-color:white;
}

#formulaire_inscription{
	background-color:gainsboro;
	display:flex;
	flex-direction:column;
	margin:0 auto;
	width:30%;
	padding:5px;
	border-radius:5px;
	border:1px grey solid;
}

#formulaire_inscription > input{
	margin-bottom:5px;
	font-size:16px;
	font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#formulaire_inscription > p{
	font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#bouton_enregistrement{
	margin-top : 15px;
	color:white;
	background-color:rgb(30, 55, 153);
}

#bouton_enregistrement:hover{
	margin-top : 15px;
	color:white;
	background-color:rgb(12, 36, 97);
}

#enregistrement_description{
	resize:none;
	height:190px;
}