body{
	background-image:url("stars.gif");
	background-repeat: repeat;
}

a:link{
	color:black;
	text-decoration:none;
}

a:visited{
	color:black;
	text-decoration:none;
}

@font-face{
	font-family:softer;
	src:url(Softers.otf);
}

.presentation1{
	font-family:softer;
	font-size:10vw;
	color:white;
	text-align: center;
	margin-top:2vh;
}

#menu_navigation{
	text-align: center;
	letter-spacing: 5px;
	font-variant:small-caps;
}

#menu_navigation p{
	background-color:rgba(255,255,255,0.7);
	margin-top:3px;
	width:75%;
	font-size:30px;
	margin:10px auto;
}

#menu_navigation p:hover{
	background-color:rgba(255,255,255,1);
	border:1px black solid;
	margin-top:3px;
}

.image_with_text{
	display:flex;
	flex-direction: column;
	text-align: center;
	background-color:white;
	margin:0 auto;
	width:90%;
}

.image_with_text > p {
	font-size:3vw;
	margin-bottom:3vh;
}