
.utilisateur{;
	background-color:white;
	width:80%;
	display:flex;
	padding:5px;
	font-family:Helvetica, "Trebuchet MS", Verdana, sans-serif;
	margin:0 auto;
	margin-bottom:10px;
	border:1px grey solid;
	border-radius:10px;
}

.utilisateur_profil{
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color:rgb(220,220,220);
	width:20%;
}

.utilisateur_photo_de_profil{
	width: 80%;
	margin-top:5px;
	border:2px black solid;
}

.utilisateur_nom{
	font-size:12px;
}

.utilisateur_description{
	width:80%;
	border-left:1px grey solid;
	padding-left:5px;
	font-size:14px;
}

#liste_utilisateurs{
	margin:0 auto;
	padding:5px;
	width:50%;
}

@media screen and (max-width:800px){

    #liste_utilisateurs{
        width:90%;
        margin:0 auto;
        background-color: gainsboro;
    }

    .utilisateur_nom{
		font-size:50%;
	}

}